/* --FONTS -- */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* */
p {
	font-family: 'Source Sans Pro', sans-serif;	
}
/* ----NAVBAR STYLING ---- */
.navbar {
	background-color: #242424;
	border-bottom: 1px solid #b9b9b9;
	font-family: 'Lato', sans-serif;
}
.navbar a{
	color: #cccccc !important;
}
.navbar a:hover {
	color: #ffffff !important;
	background-color: #646464 !important;
}
.navbar-header .navbar-brand {
	color: white !important;
	font-size: 1.5em;
}

/* HEADER */
.header {
	padding: 140px 0 60px 0;
	background: url("../images/bg.jpg") no-repeat center center;
	background-size: cover;
	width: 100%;
	border-bottom: 2px solid #c9c9c9;
}
.header h1 {
	color: white;
	font-family: 'Pacifico', cursive;
}

.header p {
	color: white;
	font-size: 1em;
}

.header .btn {
	padding: 5px 50px 5px 50px;
	border-radius: 0;
}

/*  ------------ ABOUT SECTION ----------*/
.about {
	padding:100px 0 100px 0;
	text-align: center;
}
.about h2 {
	font-size: 2.2em;
	color: #337ab7;
	padding: 0 0 25px;
}

.about {p
	padding-bottom: 32px;
}
/* ----------- -------*/
.features {
	background-color: #337ab7;
	text-align: center;
	color: white;
	padding: 90px 0 90px;

}
.features h1 {
	font-size: 2em;
	padding-bottom: 15px;
}
.features img {
	padding: 55px 0 35px 0;
}
/* PRESS */
.press {
	padding: 90px 0 90px 0;
	text-align: center;
}
.press h1 {
	font-size: 1.8em;
	padding-bottom: 25px;
	color: #337ab7;
}
.press .press-logo li img {
	opacity: .29;
	padding-bottom: 20px;
}
.press .press-logo li:hover img {
	opacity: .95;
}

/* -------- SCREENSHOTS -------*/
.screenshots {
	background-color: #235178;
	padding: 90px 0 90px 0;
	text-align: center;
	color: white;
}
.screenshots img {
	padding: 20px 0 20px;
}
.scrrenshots h1 {
	font-size: 1.8em;
}

/*     */
.reviews {
	padding: 90px 0 90px 0;
	text-align: center;
}
.reviews h1 {
	font-size: 2em;
	padding-bottom: 25px;
	color: #337ab7;
}
.reviews p{
	padding: 0 0 30px;
}
.reviews .line2{
	padding-top: 22px;
}

/*      buy   */
.buy {
	padding: 100px 0 100px;
	background: #1c3f5c;
	color: white;
	text-align: center;
}
.buy h1{
	font-size: 2em;
	padding-bottom: 25px;
}
.buy button {
	background: transparent;
	border: none;
	padding-top: 20px;
}
/* CONTACT SECTION */
.contact {
	padding: 50px 0 50px 0;
	text-align: center;

}
.contact h1 {
	font-size: 2em;
	padding-bottom: 16px;

}
.contact .fa {
	color: #1c3f5c;
	padding: 20px 10px 40px 0;
}
.contact li {
	padding-top: 10px;
}

/*FOOTER  */
.footer {
	background: #242424;
	color: white;
	padding: 45px 20px 20px 0;
}
.footer h1{
	font-family: 'Lato';
	font-size: 1.5em;
}
.footer p {
	font-size: .9em;
	color: #f2f2f2;
}
.footer a {
	color: #f2f2f2;
}
